.user_manage_wrap
    .user_manage_head
        .num
            font-weight: 700;
            font-size: 24px;
        .ml30
            margin-left: 30px
.width224
    width: 224px;

.myexcle_img
    display: inline-block;
    width: 50px;
    height: 60px;
    background: url("../../images/banner01.png") no-repeat;
    background-size: 100% 100%; 