.width224{
    width: 224px;
}
.mb80{
    margin-bottom: 80px;
}
.mgl20{
    margin-left: 20px;
}
.step_num{
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #5860E4;
    color: #5860E4;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
}