/* set css */
html,body
    width: 100vw;
    height: 100vh;
    
#container
    min-height: 100%;

// 修改antd的Tabs样式
.ant-tabs-bar
    margin: 0;
// 修改cascader联动组件的滚动条
.ant-cascader-menu
    -webkit-overflow-scrolling:touch;
    -webkit-transition: background .3s,width .2s;
    transition: background .3s,width .2s;
    &::-webkit-scrollbar
        width:7px;
    &::-webkit-scrollbar-thumb
        background:rgba(153,153,153,0.5);
        border-radius:5px;
    &::-webkit-scrollbar-track
        background:#ddd;

.mb25
    margin-bottom: 25px;
.error_info
    position: absolute;
    color: #f5222d;
.tl
    text-align: left;
.tr
    text-align: right;
.tc
    text-align: center;
// 水平居中
.xc
    display: flex;
    justify-content: center;
// 垂直居中
.yc
    display: flex;
    align-items: center;
// 水平垂直居中
.xyc
    display: flex;
    justify-content: center;
    align-items: center;
.query_flex
    display: flex;
    flex-wrap: wrap; 
    .query_flex_item
        display: flex;
        width: 350px;
        margin: 10px 0;
        .label
            flex: 0 0 125px;
            text-align: right;
            padding-right: 25px;
            line-height: 32px;
        .control
            flex: 1;
.width224
    width: 224px;
.query_btn_wrap
    margin-bottom: 20px;