/* set css */
html,body
    width: 100vw;
    height: 100vh;
    
#container
    min-height: 100%;

// 修改antd的Tabs样式--start
.ant-tabs-bar
    margin: 0;
// 修改antd的Tabs样式--end

.mb25
    margin-bottom: 25px;
.error_info
    position: absolute;
    color: #f5222d;
.tl
    text-align: left;
.tr
    text-align: right;
.hc
    display: flex;
    justify-content: center;
.query_flex
    display: flex;
    flex-wrap: wrap; 
    .query_flex_item
        display: flex;
        width: 350px;
        margin: 10px 0;
        .label
            flex: 0 0 125px;
            text-align: right;
            padding-right: 25px;
            line-height: 32px;
        .control
            flex: 1;
.width224
    width: 224px;
.query_btn_wrap
    margin-bottom: 20px;