.upload_wrap
    display: flex;
    justify-content: center;
    .myexcle_img
        display: inline-block;
        width: 50px;
        height: 60px;
        background: url("../../images/banner01.png") no-repeat;
        background-size: 100% 100%;
    .myexcle_img_opacity
        opacity: 0.3;
    .file_name
        display: block;
        width: 110px;
        text-align: center;
        margin: 10px 0;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap