.upload_wrap
    display: flex;
    justify-content: center;
    .myexcle_img
        display: inline-block;
        width: 50px;
        height: 60px;
        background: url("../../images/banner01.png") no-repeat;
        background-size: 100% 100%; 