.marquee_wrap
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .marquee_text
        display: inline-block;
        position: absolute;
        right: 0px;
        font-size: 50px;
        white-space: nowrap;