.login_wrap
    display: flex;
    min-width: 1250px;
    height: 100vh;
    .login_wrap_left
        flex: 0 0 526px;
        padding-top: 100px;
        padding-left: 100px;
    .login_wrap_right
        flex: 1;
        background: url('../../images/banner01.png') no-repeat;
        background-size: 100% 100%; 

.fadeIn
    -webkit-animation:myfadeIn 1s .2s ease both;

@keyframes myfadeIn
    0%
        opacity:0;
    100%
        opacity:1;