.content
    width: 100%
    .content-wrap
        display: flex
        max-width: 1100px
        margin: 0 auto
        padding: 30px 15px
        .content-nav
            flex: 0 0 215px
        .content-centent
            flex: 1
