.ant-layout-header
    .trigger
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color .3s;
        &:hover
            color: #1890ff;

.ant-layout-sider-children
    .logo
        height: 32px;
        background: rgba(255,255,255,.2);
        margin: 16px;

.layout-retract
    margin-left: 80px;
    transition: all .2s;

.layout-elongation
    margin-left: 200px;
    transition: all .2s;