@charset "UTF-8";
/* CSS Document */
html,body{ height:100%;}
body{
    margin:0;
    padding:0;
    font-size:14px !important;
    font-family: PingFangSC-Light, 'helvetica neue', arial, 'hiragino sans gb', 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif !important;
    color:#333 !important;
    background:#fff;
}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,textarea,p,th,td{ margin:0; padding:0; list-style:none;}
a img{ border:none;}
a{ color:#333; text-decoration:none;}
a:hover{ text-decoration:none;}
input,textarea,button,select{font-family: PingFangSC-Light, 'helvetica neue', arial, 'hiragino sans gb', 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif !important; border: none; outline: none; padding: 0; margin: 0; background: transparent;}
.clear{ clear:both;}
.none{ display:none !important;}
.hide{ display:none;}
.hidden{ visibility:hidden;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#ccc;} /* WebKit browsers */
input:-moz-placeholder,textarea:-moz-placeholder{color:#ccc;} /* Mozilla Firefox 4 to 18 */
input::-moz-placeholder,textarea::-moz-placeholder{color:#ccc;} /* Mozilla Firefox 19+ */
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#ccc;} /* Internet Explorer 10+ */